<!DOCTYPE html>

<html>

<head>
  <title>Our Leaders</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
  <link rel="icon" type="image/jpg" href="title.jpg" />
  <link rel="apple-touch-icon" type="image/jpg" href="title.jpg" />
</head>

<body class="no-sidebar is-preload">

  <div id="preloader"></div>

  <div id="page-wrapper">
    <!-- Header -->
    <section id="header" class="wrapper">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/leadership">Leadership</a></li>
          <li>
            <a href="#">Events</a>
            <ul>
              <li>
                <a href="#">Our Previous Events</a>
                <ul>
                  <li><a href="/2015">2015</a></li>
                  <li><a href="/2016">2016</a></li>
                  <li><a href="/2017">2017</a></li>
                  <li><a href="/2018">2018</a></li>
                  <li><a href="/2019">2019</a></li>
                </ul>
              </li>
              <li><a href="/upcoming">Upcoming Events</a></li>
            </ul>
          </li>
          <li><a href="/sponsor">Sponsors</a></li>
          <li class="current"><a href="/contact">Updates</a></li>
        </ul>
      </nav>
    </section>

    <!-- Main -->
    <div id="main" class="wrapper style2">
      <div class="title">Our Leaders</div>
      <div class="container" style="width:100%">
        <div class="row">
          <div class="col-sm-4">
            <center>
              <img src="images/Kunal.png" class="image" alt="Kunal" style="object-fit:contain;" />
              <h4>Kunal Chaudhary</h4>
              <h2>Chairperson</h2>
              <p>
                Leadership is not a position or a title, it is action and
                example. True to these words, he stands with zeal to achieve
                his vision of making CodeChef-VIT a chapter to be remembered.
                His unique way of mentoring brings the entire team together
                and forms a bond to be cherished for a lifetime.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/RAJAT.jpg" class="image" alt="Rajat" style="object-fit:contain;" />
              <h4>Rajat Sablok</h4>
              <h2>Vice Chairperson (Management)</h2>
              <p>
                Mechanical guy turned developer turned Vice Chair of a technical chapter, Rajat Sablok ,  with his unquenchable thirst for knowledge and zeal to strive for perfection, who might one day change the dating scene in the campus forever with his app; brings more to the table with his technical and management skills than one can fathom.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Akshat Gupta.png" class="image" alt="Akshat Gupta" style="object-fit:contain;" />
              <h4>Akshat Gupta</h4>
              <h2>Vice Chairperson (Technical)</h2>
              <p>
                An epitome of all round technical and management skills, he is known for the websites he builds , projects he undertakes and hacks he triumphs. With numerous feathers in his hat, he is outgoing and makes sure to address any and all technical concerns and queries one can possibly have in and out of his domain. Proudly presenting our Vice Chair, technical, Akshat Gupta.
              </p>
            </center>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-sm-4">
            <center>
              <img src="images/Muskan.jpg" class="image" alt="Muskan Tewari" style="object-fit:contain;" />
              <h4>Muskan Tewari</h4>
              <h2>General Secretary</h2>
              <p>
                The members , the vision and the culture make CodeChef-VIT. Her adaptability to organise and operate all of them with perfection, make her the general secretary. The mastermind behind our flagship GraVITas event, presenting our Gensec for the 2020-21 term, Muskan Tewari.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Ishan Gupta.jpeg" class="image" alt="Ishan Gupta" style="object-fit:contain;" />
              <h4>Ishan Gupta</h4>
              <h2>Operations & HR Director</h2>
              <p>
                Be it organizing technical sessions, orchestrating events and workshops or internal and external conflict resolution, calling him an all-rounder would be an understatement. He always seems to have his hands full with something or the other and has all the tricks in the book that make him a great developer, mentor, coordinator and a leader. Presenting Operations and HR director, Ishan Gupta.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Nishi_Jain.jpeg" class="image" alt="Nishi Jain" style="object-fit:contain;" />
              <h4>Nishi Jain</h4>
              <h2>Events Director</h2>
              <p>
                Publicity and Events are the two cornerstones that make CodeChef-VIT one of the campus' most deemed and reputed chapters. Her dedication is just what inspires our events to take greater strides and achieve greater heights. <b>N</b>ishi <b>I</b>s <b>T</b>he <b>B</b>est pick one could have for the Events and Publicity Director.
              </p>
            </center>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <center>
              <img src="images/Vansh Goel.PNG" class="image" alt="Vansh Goel" style="object-fit:contain;" />
              <h4>Vansh Goel</h4>
              <h2>Research Lead</h2>
              <p>
                A clarity of learning objectives becomes vital for all the members of a team to ensure that they are on the same page and get a chance to update the appropriate skills they possess with time. Armed and entrusted with this very endeavour, we proudly present, Vansh as the Research Lead of CodeChef-VIT.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Dipto.jpeg" class="image" alt="Dipto" style="object-fit:contain;" />
              <h4>Dipto Chakrabarty</h4>
              <h2>Projects Lead</h2>
              <p>
                "The Jack of all traits is the master of none". It is clear that whoever said this never ran into our projects lead, Dipto. Be it DevOps, Machine Learning, Natural Language Processing or back-end and server development, being dextrous in more domains than one can count is what makes him the 'best fit' for this model named CodeChef-VIT.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Shreya Chaterjee.jpg" class="image" alt="Shreya" style="object-fit:contain;" />
              <h4>Shreya Chatterjee</h4>
              <h2>Finance Director</h2>
              <p>
                If one wants to know the functioning of any and all internal institutions catering to clubs and chapters in our college, look no further than our finance director. With finance office practically being her second home, she is well versed with all financial chops that help maintain our ever depleting treasury and keep our accounts clean. Presenting, Shreya.
              </p>
            </center>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-sm-4">
            <center>
              <img src="images/Kshitiz.JPG" class="image" alt="Kshitiz" style="object-fit:contain;" />
              <h4>Kshitiz Verma</h4>
              <h2>Competitive Coding Head</h2>
              <p>
                While others are content with gazing the stars from a distance, he believes in collecting them.
Whilst others crave sweets, he is out there piling up laddus. In a race against time and himself, he believes in finding better solutions and then surpassing them every single time. Presenting our Competitive Coding Head, Kshitiz.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Devang Pandey.JPG" class="image" alt="Devang" style="object-fit:contain;" />
              <h4>Devang Pandey</h4>
              <h2>Design and Media Director</h2>
              <p>
                A fantastic designer, and a better CS-GO player , the creator of some of our most celebrated designs and event posters and the campus ambassador of 'free hackathons' ; he has proven his mettle in each and every design task that has been thrown his way and hence we are proud to present our Design and Media head Devang 'lmao' Pandey
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Anuj Kapoor.jpeg" class="image" alt="Anuj" style="object-fit:contain;" />
              <h4>Anuj Kapoor</h4>
              <h2>App Lead</h2>
              <p>
                In the never ending race in programmers striving to build bigger and better idiot proof programs and the universe trying to produce bigger and better idiots. Our app lead is well known for being abreast with all technical know how's , so as to provide the best possible solutions for the worst possible problems. Presenting Anuj, App Lead , CodeChef-VIT.
              </p>
            </center>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-sm-4">
            <center>
              <img src="images/navyaa sharma.jpeg" class="image" alt="Navyaa" style="object-fit:contain;" />
              <h4>Navyaa Sharma</h4>
              <h2>Web Master</h2>
              <p>
                When most of us are busy organising competitions, she is out there winning them. Being the over-achiever of the group, her CGPA draws parallels with Lord Voldemort himself, unconquerable and  'something that should not be named'. We proudly present our Web Development Lead, Navyaa Sharma
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Priyank Kaushik.jpg" class="image" alt="Priyank" style="object-fit:contain;" />
              <h4>Priyank Kaushik</h4>
              <h2>Logistics & Outreach Director</h2>
              <p>
                Often found caught in the dilemma between Gate 1 and 3, he is someone to whom creativity comes naturally and is a dedicated worker urf an efficient leader; responsible for some of CodeChef-VIT's most memorable events last GraVITas. We proudly present Priyank Kaushik as our Logistics and Outreach Director.
              </p>
            </center>
          </div>
          <div class="col-sm-4">
            <center>
              <img src="images/Anmol Pant.jpg" class="image" alt="Anmol" style="object-fit:contain;" />
              <h4>Anmol Pant</h4>
              <h2>Editorial Head</h2>
              <p>
                Friendly, jovial and creative: he is extremely well-versed with words, enough to make you go crazy. Experienced in technical as well as non-technical content writing, he is the fierce competition Shashi Tharoor fears. We proudly present Anmol Pant, our Editorial Head.
              </p>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-white" style="margin-top:0; background-image: url('images/banner.jpg'); padding:40px">
    <center>
      <div style="margin: 10px auto; font-size: 100%;">
        &copy; Copyright CodeChef-VIT
        <br>
        Contact: <a href="tel:+917014531554‬" style="text-decoration: none;" class="text-white">+91 7014531554‬</a>
      </div>
      <div>
        <a href="https://www.facebook.com/codechefvit" target="_blank"><i
            class="fa fa-facebook-square mx-2 fa-lg text-white"></i></a>
        <a href="https://www.instagram.com/codechefvit" target="_blank"><i
            class="fa fa-instagram mx-2 fa-lg text-white"></i></a>
        <a href="https://www.twitter.com/codechefvit" target="_blank"><i
            class="fa fa-twitter mx-2 fa-lg text-white"></i></a>
        <a href="https://www.linkedin.com/company/codechef-vit-chapter" target="_blank"><i
            class="fa fa-linkedin mx-2 fa-lg text-white"></i></a>
        <a href="https://medium.com/codechef-vit" target="_blank"><i class="fa fa-medium mx-2 fa-lg text-white"></i></a>
         <a href="https://github.com/CodeChefVIT" target="_blank"><i class="fa fa-github mx-2 fa-lg text-white"></i></a>
      </div>
    </center>
  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>